<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Book</title>
</head>
<body>
    <h1>Delete Book</h1>
    <form action="{{url_for('deleteBook', book_id=id)}}" method='POST'>
        <p>Are you sure you want to delete {{title}}?</p>
        <br/>
        <input type="submit" value="Delete"/>
        <a href="{{url_for('showBook')}}">Cancel</a>
    </form>
</body>
</html>
