<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book</title>
</head>
<body>
    <h1>Edit Book</h1>
    <form action="{{url_for('editBook', book_id=id)}}" method='POST'>
        <label for="title">Name: </label>
        <br/>
        <br/>
        <input type="text" name="title" value="{{old_title}}" />
        <input type="submit" value="Edit"/>
        <a href="{{url_for('showBook')}}">Cancel</a>
    </form>
</body>
</html>
