<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <h1>Books</h1>
    {% if books == [] %}
        <p>No books exist</p>
    {% else %}
        {% for i in books %}
            <div>
                {{ i.title}}
                <br/>
                <a href={{url_for('editBook', book_id=i.id)}}> Edit book </a>
                <br/>
                <a href={{url_for('deleteBook', book_id=i.id)}}> Delete book </a>
                <br/><br/>
            </div>
        {% endfor %}
    {% endif %}
</body>
</html>
