<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Book</title>
</head>
<body>
    <h1>New Book</h1>
    <form action="{{url_for('newBook')}}" method='POST'>
        <label for="title">Name: </label>
        <br/>
        <br/>
        <input type="text" name="title" />
        <input type="submit" value="Create"/>
    </form>
</body>
</html>
